.settings-container {
  //   margin: 20px;
  width: 100% !important;
  .setting-card {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px #00000026;

    .setting-card-top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .configure-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px 20px;
      /* border: 1px solid #333; */
      border-radius: 5px;
      /* color: #333333; */
      font-size: 15px;
      transition: all 0.3s;
      font-weight: 600;
      //   margin-top: 15px;
      width: 112px !important;
      color: #ff7d64 !important;
      border: 1px solid #ff7d64 !important;
    }
    .text-view {
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.import-dropdown {
  min-width: 166px !important;
  display: flex;
  justify-content: center;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  padding: 8px 20px !important;
  border-radius: 3px !important;
  color: #ffffff !important;
  background-image: linear-gradient(275deg, #1039a6, #6d15b9) !important;
  font-size: 15px !important;
  transition: all 0.3s !important;
  font-weight: 600 !important;
  margin-left: 10px !important;
  height: 40px !important;
}

.transformation-btn {
  border-radius: 3px !important;
}

.transformation-btn:hover {
  transform: none !important;
}
