@import "../../base";

.graph-left-panel-selection-container {
  border-top: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #293a65;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  .graph-left-panel-selection-item {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: #ffffff;
    font-weight: $SECONDARY_BOLD;
    font-size: 12px;
    transition: $TRANSITION_SPEED;
    &:hover {
      background: #ffffff1a;
    }
  }
}

.api-testcase-uitestcase-btn {
  display: flex;
  width: 100%;
  margin: 5px 0;
  align-items: center;
  justify-content: space-around;
  .button-container {
    width: 70%;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    display: flex;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
  }
}

.graph-left-panel-selection-item-active {
  background: linear-gradient(90deg, rgb(115, 70, 235), rgb(42, 74, 101)) !important;
  color: #ffffff !important;
  &:hover {
    background: linear-gradient(90deg, rgb(115, 70, 235), rgb(42, 74, 101)) !important;
  }
}

.graph-left-panel-search {
  position: sticky;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #203752;
  z-index: 1;
  .graph-left-panel-search-btn {
    text-align: center;
    width: 40px;
    color: #ffffff;
    line-height: 40px;
    transition: $TRANSITION_SPEED;
  }
  input {
    border: none;
    flex: 1;
    color: #ffffff;
    padding-right: 10px;
    outline: none;
    background: #203752;
    caret-color: #ffffff;
    font-weight: $SECONDARY_SEMI_BOLD;
  }
  input::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #203752;
    -webkit-text-fill-color: #ffffff;
  }
}

#rest-api-drag-cls {
  border: 1px dashed white !important;
  width: 200px !important;
  height: 38px !important;
  border-radius: 3px !important;
}

.rest-api-drag-cls:hover {
  background: linear-gradient(90deg, rgb(109, 21, 185), rgb(129, 82, 234)) !important;
  color: white !important;
}

.graph-left-panel-drag-container {
  margin: 15px 5px;
  .graph-left-panel-drag-header {
    display: flex;
    align-items: center;
    .graph-left-panel-drag-header-title {
      cursor: default;
      border-radius: 5px;
      padding: 5px 10px;
      color: #ffffff;
      font-weight: $SECONDARY_SEMI_BOLD;
      font-size: 13px;
      background: #ffffff1a;
      white-space: nowrap;
      width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .graph-left-panel-drag-header-border {
      height: 1px;
      background: #ffffff1a;
      flex: 1;
    }
    .graph-left-panel-drag-header-data-count {
      height: 24px;
      width: 24px;
      border-radius: 24px;
      background: #ffffff1a;
      text-align: center;
      line-height: 24px;
      color: #ffffff80;
      font-family: $PRIMARY;
      font-weight: $PRIMARY_MEDIUM;
    }
  }

  .draggable-endpoints {
    justify-content: flex-start !important;
  }

  .endpoint-drag {
    flex-direction: row !important;
  }

  .graph-left-panel-drag-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 30px;
    .graph-left-panel-drag-data-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      margin: 10px 0 10px 15px;
      .graph-left-panel-draggable-element-api {
        width: 60px;
        height: 25px;
        background: none;
        margin-right: 5px;
        font-size: 12px;
        margin-top: 0;
        border-radius: 5px;
      }
      .graph-left-panel-draggable-element-conditions {
        width: 50px;
        height: 50px;
        border: 1px dashed #ffffff;
        background: none;
        transform: rotate(45deg);
        margin-top: 10px;
        margin-right: 0px;
        // margin-right: 20px;
        font-size: 20px;
        transition: $TRANSITION_SPEED;
        &:hover {
          background: #ffffff;
          color: #2c4b6e;
        }
        .graph-left-panel-draggable-element-conditions-text {
          transform: rotate(-45deg);
          font-style: normal;
        }
      }
      .graph-left-panel-draggable-element-source {
        width: 70px;
        height: 40px;
        margin-right: 10px;
        background: none;
        border: 1px dashed #ffffff;
        font-size: 12px;
        margin-top: 0;
        text-indent: -9999px;
        border-radius: 5px;
        white-space: nowrap;
        transition: $TRANSITION_SPEED;
        &:hover {
          background: #ffffff;
        }
      }
      .graph-left-panel-drag-data-desc {
        cursor: default;
        flex: 1;
        color: #ffffff;
        font-weight: $SECONDARY_SEMI_BOLD;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      .larg-desc {
        font-size: 15px;
      }
      .get-method-btn {
        border: 1px solid #1dd1a1 !important;
        transition: $TRANSITION_SPEED !important;
        &:hover {
          background: #1dd1a1 !important;
        }
      }
      .post-method-btn {
        border: 1px solid #feca57 !important;
        transition: $TRANSITION_SPEED !important;
        &:hover {
          background: #feca57 !important;
        }
      }
      .put-method-btn {
        border: 1px solid #1890ff !important;
        transition: $TRANSITION_SPEED !important;
        &:hover {
          background: #1890ff !important;
        }
      }
      .patch-method-btn {
        border: 1px solid #4bcffa !important;
        transition: $TRANSITION_SPEED !important;
        &:hover {
          background: #4bcffa !important;
        }
      }
      .delete-method-btn {
        border: 1px solid #ff6b6b !important;
        transition: $TRANSITION_SPEED !important;
        &:hover {
          background: #ff6b6b !important;
        }
      }
      .oracle-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/oracle_logo.svg") !important;
      }
      .rabbitmq-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/rabbitmq_logo.svg") !important;
      }
      .mysql-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/mysql_logo.svg") !important;
      }
      .redis-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/redis-logo.svg") !important;
      }
      .postgres-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/postgres_logo.svg") !important;
      }
      .cassandra-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        background-image: url("../../../Images/cassandra_white.svg") !important;
      }
      .cassandra-bg:hover {
        background-image: url("../../../Images/cassandra_black.svg") !important;
      }
      .kafka-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 60% 80% !important;
        background-image: url("../../../Images/kafka_bg_white.svg") !important;
      }
      .kafka-bg:hover {
        background-image: url("../../../Images/kafka_bg.svg") !important;
      }
      .mongodb-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/mongodb_logo.svg") !important;
      }
      .mssql-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/mssql_logo.svg") !important;
      }
      .uitestcase-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 80% 80% !important;
        background-image: url("../../../Images/Monitor_white.svg") !important;
      }
      .mobile-bg {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 95% 100% !important;
        background-image: url("../../../Images/mobile_image.svg") !important;
      }
    }
  }
}

.endpoint-pack-accordion-dropdown {
  margin: 5px;
  .endpoint-pack-accordion {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    justify-content: space-between;
    color: #ffffff;
    background: #ffffff33;
    border-radius: 5px;
    .endpoint-pack-name {
      white-space: nowrap;
      width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: $SECONDARY_SEMI_BOLD;
      font-size: 13px;
      text-transform: capitalize;
    }
    .expandBtn {
      transform: rotate(180deg);
    }
  }
  .endpoint-pack-accordion-bottom {
    overflow-x: hidden;
    overflow-y: auto;
    height: 0;
    transition: $TRANSITION_SPEED;
  }
}

.endpoint-pack-accordion-bottom::-webkit-scrollbar {
  width: 0;
  display: none;
}

#collapse-outer-container {
  .rs-panel-body {
    background: #293a65 !important;
    padding: 10px !important;
  }
  .rs-panel-heading {
    padding: 12px !important;
    background: linear-gradient(90deg, rgb(115, 70, 235), rgb(42, 74, 101));
  }
  .rs-panel-collapsible {
    border-radius: 0px !important;
    border-bottom: 1px solid #293a65;
  }
  .nested-collapse-container {
    .rs-panel-body {
      background: #293a65 !important;
      padding: 0px !important;
    }
    .rs-panel-heading {
      padding: 12px !important;
      display: flex;
      align-content: center;
      background: linear-gradient(90deg, rgb(115, 70, 235), rgb(42, 74, 101));
      // height: 40px;
    }
    .rs-panel-collapsible {
      // height: 35px !important;
      border-radius: 0px !important;
      border-bottom: 1px solid #293a65 !important;
    }
  }
}
