@import "../base";

.body-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #f8fafb;
  .filter-panel-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 5;
    .breadcrumbs-container {
      cursor: default;
      display: flex;
      align-items: center;
      font-family: $PRIMARY;
      font-weight: $PRIMARY_MEDIUM;
      color: $TEXT_LIGHT;
      font-size: 12px;
      i {
        margin-right: 5px;
        font-size: 15px;
      }
      a {
        margin: 0 3px;
        font-family: $PRIMARY;
        font-weight: $PRIMARY_MEDIUM;
        color: $TEXT_LIGHT;
        font-size: 12px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline !important;
          color: $SECONDARY_COLOR;
        }
      }
      .breadcrumbs-items {
        margin: 0 3px;
        font-family: $PRIMARY;
        font-weight: $PRIMARY_MEDIUM;
        color: $TEXT_LIGHT;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .filter-panel-right-part {
      display: flex;
      align-items: center;
      .filter-panel-search-container {
        overflow: hidden;
        height: 35px;
        width: 350px;
        border-radius: 34px;
        border: 1px solid #e2e9ed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .filter-panel-search-btn {
          background: #f8fafb;
          color: lighten($color: #000000, $amount: 80);
          text-align: center;
          width: 40px;
          height: 100%;
          line-height: 35px;
          transition: $TRANSITION_SPEED;
        }
        input {
          border: none;
          flex: 1;
          height: 100%;
          padding-right: 10px;
          outline: none;
          background: #f8fafb;
          font-weight: $SECONDARY_SEMI_BOLD;
          &::placeholder {
            color: lighten($color: #000000, $amount: 80);
          }
        }
        input:-webkit-autofill {
          -webkit-box-shadow: inset 0 0 0px 9999px #f8fafb;
        }
      }
    }
  }
  .filter-panel-information-container {
    position: sticky;
    top: 60px;
    z-index: 5;
    cursor: default;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-image: linear-gradient(#ffffff, #e2e9ed);

    .filter-panel-information-text {
      font-size: 14px;
      font-family: $PRIMARY;
      font-weight: $PRIMARY_MEDIUM;
      color: $TEXT_DARK;
      white-space: nowrap;
    }
    .filter-panel-information-uri {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .filter-panel-information-uri-big {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-size: 70px;
        font-family: $PRIMARY;
        font-weight: $PRIMARY_BOLD;
        opacity: 0.3;
        color: $PRIMARY_COLOR;
      }
      .filter-panel-information-uri-small {
        max-width: 800px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        padding: 8px 20px;
        border-radius: 20px;
        background: #3c6382;
        opacity: 0.5;
        color: #ffffff;
        font-size: 16px;
        font-family: $PRIMARY;
        font-weight: $PRIMARY_REGULAR;
        margin-top: 10px;
      }
    }
  }
  .application-title-count-container {
    display: flex;
    align-items: center;
    padding: 30px 30px 0 30px;
    .application-title {
      font-size: 30px;
      font-family: $PRIMARY;
      color: #222f3e;
      font-weight: $PRIMARY_BOLD;
      margin-right: 30px;
    }
    .application-divider {
      flex: 1;
      border-bottom: 1px solid #e2e9ed;
    }
    .application-count {
      padding: 5.5px 15px;
      background: #e2e9ed;
      border-radius: 15px;
      font-size: 12px;
      font-family: $PRIMARY;
      color: #00000080;
      font-weight: $PRIMARY_MEDIUM;
    }
  }
  .application-container {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    height: 120px;
    color: #ffffff;
    // background-image: linear-gradient(45deg, #3e4f62, #3c6382);
    background-image: linear-gradient(45deg, lighten($PRIMARY_COLOR, 30), $PRIMARY_COLOR);
    border-radius: 10px;
    box-shadow: 0 5px 30px #0000000d;
    transition: $TRANSITION_SPEED;
    &:hover {
      transform: scale(1.03);
      .application-container-delete-btn {
        transform: scale(0.9);
      }
    }
    .application-container-header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 10px 15px;
      .application-header-container-title {
        color: white;
        text-transform: capitalize;
        font-size: 20px;
        font-family: $PRIMARY;
        font-weight: $PRIMARY_BOLD;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .application-header-container-url {
        font-size: 13px;
        font-family: $SECONDARY;
        font-weight: $SECONDARY_SEMI_BOLD;
        overflow: hidden;
        color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;
        opacity: 0.75;
      }
      .application-footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        
        .application-footer-container-tc-count {
          text-transform: uppercase;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 10px;
          font-family: $SECONDARY;
          font-weight: $SECONDARY_BOLD;
          background-color: transparentize($color: black, $amount: 0.95);
        }
      }
    }
    .application-container-delete-btn {
      top: -10px;
      right: -10px;
      height: 35px;
      position: absolute;
      width: 35px;
      transform: scale(0);
      border-radius: 100%;
      background: #ff6b6b;
      display: flex;
      justify-content: center;
      font-size: 20px;
      align-items: center;
      transition: $TRANSITION_SPEED;
      &:hover {
        transform: scale(1);
        box-shadow: 0px 5px 20px #ff6b6bbf;
      }
    }
    .application-container-edit-btn {
      position: absolute;
      right: 15px;
      bottom: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      border-radius: 100%;
      height: 26px;
      width: 26px;
      border: 1px solid #ffffff1a;
      color: #ffffff;
      transition: $TRANSITION_SPEED;
      &:hover {
        background: #ffffff1a;
        border: 1px solid transparent;
      }
    }
  }
}

.sr-form-footer-btn-container {
  display: flex;
  justify-content: flex-end;
}
