$PRIMARY: "Poppins", sans-serif;
$SECONDARY: "Muli", sans-serif;

$PRIMARY_COLOR: #1039a6;
$SECONDARY_COLOR: #6d15b9;
$TABLE_COLOR: #3e4f62;

$TEXT_EXTRALIGHT: #e5e5e5;
$TEXT_LIGHT: #aaa;
$TEXT_AVG: #777;
$TEXT_DARK: #333;

$HIGHLIGHT_COLOR: #79a2f2;
$REPORTS_EXPAND: #ffffff;
$NOTIFY_BACKGROUND: #7531cd;

$SIDEBAR_COLOR: #293a65;

$PRIMARY_LIGHT: 300;
$PRIMARY_REGULAR: 400;
$PRIMARY_MEDIUM: 500;
$PRIMARY_BOLD: 600;

$SECONDARY_EXTRA_LIGHT: 200;
$SECONDARY_LIGHT: 300;
$SECONDARY_REGULAR: 400;
$SECONDARY_SEMI_BOLD: 600;
$SECONDARY_BOLD: 700;
$SECONDARY_EXTRA_BOLD: 800;

$TRANSITION_SPEED: all 0.3s;
